//Colors
$_main-color: #FF4343;
$_hover-color: #E71414;
$_footer-color1: #353C65;
$_footer-color2: #2C3154;
$_h1-color: #fff;
$_title-color: #2D3033;
$_desc-color: #6C7279;
$_mask-color:rgba(37, 43, 73, 0.8);
$_menu_slide: #5C3249;
$_button_icon: #fff;
$_text_button: 1.5rem;
$_button_active: #FF4343;
$_card_title: 24px;
$_main_title: 4rem; 