
.pre-footer {
    background-color: $_footer-color1;
    padding: 71px 0;
    .pre-footer-card__wrap {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 0 -15px;
        @media (max-width: 575px) {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
        }

        .pre-footer-card {
            width: 370px;
            margin: 0 15px;
            @media (max-width: 575px) {
                margin-bottom: 69px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .pre-footer-card__title {
                font-family: 'Raleway';
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.3125rem;
                text-transform: uppercase;
                color: $_h1-color;
                margin-bottom: 1.25rem;
            }
            .pre-footer-card__desc {
                @include head5;
                color: $_h1-color;
                .pre-footer-card-link__icon {
                    margin-right: 27px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.end {
    background-color: $_footer-color2;
    padding: 24px 0;
    .footer-wrap {
        justify-content: center;
        align-content: center;
        .footer-copy {
            width: 370px;
            margin: auto;
            @media (max-width: 575px) {
                max-width: 280px;
            }
            p {
                @include head5;
                color: $_desc-color;
                text-transform: capitalize;
                @media (max-width: 575px) {
                    font-size: 14px;
                }
                a {
                    @include head5;
                    color: $_h1-color;
                    text-transform: capitalize;
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
