@import './variables';
@import './fonts';
@import './mixins';
@import './banner.scss';
@import './features.scss';
@import './features.scss';
@import './work.scss';
@import './team.scss';
@import './slider.scss';
@import './download.scss';
@import './footer.scss'; 

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
    position: relative;
}